// default color theme
$primary-color:         #2196f3 !default;
$dark-primary-color:    #1976d2 !default;
$light-primary-color:   #bbdefb !default;
$primary-text-color:    #212121 !default;
$secondary-text-color:  #727272 !default;
$divider-color:         #ddd !default;
$accent-color:          #ff4081 !default;
$text-icons-color:      #fff !default;
$base-background-color: #f5f5f5 !default;

