$header-foreground-color: $base-foreground-color !default;
$header-background-color: $base-background-color !default;

%action-bar {
  @extend %grid;
  @extend %grid--full;
  @include box-shadow(0, 2px, 5px, 0, rgba(0, 0, 0, 0.16));

  height:           64px;
  color:            $header-foreground-color;
  background-color: $header-background-color;

  %action-bar__item {
    @extend %grid__item;
    a {
      width:   100%;
      height:  100%;
      display: inline-block;
    }
  }
}

%action-header {
  @include box-shadow(0, 2px, 5px, 0, rgba(0, 0, 0, 0.16));
  color:            $header-foreground-color;
  background-color: $header-background-color;
  border-top:       $base-spacing-unit solid $dark-primary-color;

  a {
    color:           $header-foreground-color;
    text-decoration: none;
    font-weight:     normal;
  }

  %action-bar {
    box-shadow:         none;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;

  }

  %action-header__content {
    text-transform: uppercase;
    font-size:      2em;
    font-weight:    bold;
    padding-bottom: $base-spacing-unit;
  }
}

