/*
[1] trigger gpu
[2] avoid flickering in chrome and safari
*/
.page {
  @include transform(translateZ(0)); // [1]
  @include backface-visibility(hidden); // [2]
  @include perspective(1000); // [2]

  position: absolute;
  bottom:   0;
  top:      0;
  width:    100%;

  &.ng-leave {
    z-index: 9999;
  }

  &.ng-enter {
    z-index: 8888;
  }
}

/* TRANSITIONS */
%slide-transition {
  &.ng-leave {
    @include animation(slideoutleft .3s both ease);
  }

  &.ng-enter {
    @include animation(slideInLeft .3s both ease);
  }
}

%fade-transition {
  &.ng-leave {
    @include animation(fadeOut .3s both ease);
  }

  &.ng-enter {
    @include animation(fadeIn .3s both ease);
  }
}

/* ANIMATIONS THAT WILL SERVE AS COMPONENTS FOR THE TRANSITIONS
   general support for css animations, modern browsers, IE10+ [http://caniuse.com/#feat=css-animation]
 */

@include keyframes(fadeIn) {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@include keyframes(fadeOut) {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@include keyframes(slideoutleft) {
  to { transform: translatex(-100%); }
}

@include keyframes(slideInLeft) {
  from { transform:translateX(100%); }
  to   { transform: translateX(0); }
}

