@mixin box-shadow ($h-shadow, $v-shadow, $blur, $spread, $color) {
  box-shadow:         $h-shadow $v-shadow $blur $spread $color;
  -moz-box-shadow:    $h-shadow $v-shadow $blur $spread $color;
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@mixin keyframes ($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin:    $origin;
  transform-origin:         $origin;
}

@mixin animation ($animation...) {
  -webkit-animation: $animation;
  -moz-animation:    $animation;
  -o-animation:      $animation;
  animation:         $animation;
}

@mixin transform ($translate) {
   -webkit-transform: $translate;
   -moz-transform:    $translate;
   -ms-transform:     $translate;
   -o-transform:      $translate;
   transform:         $translate;
}

@mixin backface-visibility ($visibility) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility:    $visibility;
  -ms-backface-visibility:     $visibility;
  backface-visibility:         $visibility;
}

@mixin perspective ($perspective) {
  -webkit-perspective: $perspective;
  -moz-perspective:    $perspective;
  -ms-perspective:     $perspective;
  perspective:         $perspective;
}

