.unknown-page {
  @extend %slide-transition;
}

.unknown-header {
  @extend %action-header;

  .unknown-header__navigation {
    @extend %action-bar;
    padding: $base-spacing-unit;
  }

  .unknown-header__more {
    @extend %action-header__content;
    margin: $base-spacing-unit;
  }

  .unknown-navigation__link {
    @extend %action-bar__item;
  }
}

.unknown-details {
  @extend %grid;
  @extend %grid--full;
  margin: $base-spacing-unit;
}

.unknown-details__alert,
.unknown-details__redirect {
  @extend %grid__item;
}

.unknown-details__alert {
  text-transform: uppercase;
}

